In [3]:
import trino
from dotenv import load_dotenv
import os

In [4]:
# Cargamos variables de ambiente 
load_dotenv("env") 

# Setear credenciales
conn = trino.dbapi.connect(
        host=os.environ["host"], # cambiar por IP
        port=os.environ["port"], # cambiar puerto
        user=os.environ["user"], # cambiar usuario
        catalog=os.environ["catalog"], # cambiar catalogo
        schema = os.environ["schema"] # cambiar esquema
)

In [5]:
# Probemos que se están cargando correctamente las variables de ambiente
os.environ["host"]

'10.94.10.44'

In [6]:
# Mostremos las tablas que están creadas 
query = "show tables"
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[['juane_completo_italiano'],
 ['klaus'],
 ['test'],
 ['test_ignacio'],
 ['test_javi'],
 ['test_loreto'],
 ['test_soyhugo']]

In [11]:
table_name = "kl" 
bucket = "capacitacion-lago-datos"
folder = "data-ejemplo"

# Esta query elimina la tabla, en caso de que ya exista
query_drop = f"drop table if exists minio.capacitacion.{table_name}"

# La query lee todo lo que hay en un directorio y lo convierte en una tabla de trino 
query = f"""
    CREATE TABLE minio.capacitacion.{table_name} (
        x int,
        y int
    )
    WITH (
        format = 'PARQUET', 
        external_location = 's3a://capacitacion-lago-datos/{folder}'
    )
    """

In [12]:
# Ejecutamos la query para borrar
cursor.execute(query_drop)

# ejecutamos la query para crear tabla 
cursor.execute(query)

In [13]:
# Contemos el número de filas de la tabla
query = "select count(*) from kl"
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[[110]]

In [14]:
# Revisemos las primeras filas de la tabla
query = "select * from test limit 6"
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[[0, 3], [0, 3], [1, 4], [2, 5], [3, 6], [4, 7]]

# Conexión a una base de datos real

In [15]:
# Cargamos variables de ambiente 
load_dotenv(".env-cd") 

# Setear credenciales
conn2 = trino.dbapi.connect(
        host=os.environ["host-cd"], # cambiar por IP
        port=os.environ["port-cd"], # cambiar puerto
        user=os.environ["user-cd"], # cambiar usuario
        catalog=os.environ["catalog-cd"], # cambiar catalogo
        schema = os.environ["schema-cd"] # cambiar esquema
)

In [16]:
# Contamos el número de filas 
query = "select count(*) as frecuencia from hive.staging.suseso_trab_02"
cursor = conn2.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[[613190087]]

In [17]:
query = """select anno, mes, count(*) as frecuencia
from hive.staging.suseso_trab_02
group by anno, mes
order by anno, mes
"""
cursor = conn2.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[[2017, 1, 6197971],
 [2017, 2, 5840818],
 [2017, 3, 5887730],
 [2017, 4, 6073996],
 [2017, 5, 5891923],
 [2017, 6, 5831381],
 [2017, 7, 5915631],
 [2017, 8, 5839972],
 [2017, 9, 5674671],
 [2017, 10, 5976835],
 [2017, 11, 5852718],
 [2017, 12, 5987654],
 [2018, 1, 6362405],
 [2018, 2, 6073834],
 [2018, 3, 5990030],
 [2018, 4, 6354448],
 [2018, 5, 6127041],
 [2018, 6, 5999110],
 [2018, 7, 6118352],
 [2018, 8, 6004328],
 [2018, 9, 5988507],
 [2018, 10, 6172951],
 [2018, 11, 6117840],
 [2018, 12, 6273951],
 [2019, 1, 6660643],
 [2019, 2, 6333274],
 [2019, 3, 6336219],
 [2019, 4, 6571471],
 [2019, 5, 6327665],
 [2019, 6, 6209724],
 [2019, 7, 6347441],
 [2019, 8, 6770690],
 [2019, 9, 6714643],
 [2019, 10, 6846434],
 [2019, 11, 6692279],
 [2019, 12, 6901893],
 [2020, 1, 7273711],
 [2020, 2, 6856915],
 [2020, 3, 6960590],
 [2020, 4, 6792658],
 [2020, 5, 6585545],
 [2020, 6, 6384053],
 [2020, 7, 6652286],
 [2020, 8, 6375045],
 [2020, 9, 6403377],
 [2020, 10, 6742897],
 [2020, 11, 6567794],
 [2020, 12, 6943198],
 [2021, 1, 7373167],
 [2021, 2, 6986730],
 [2021, 3, 7083809],
 [2021, 4, 7322372],
 [2021, 5, 6865864],
 [2021, 6, 6841935],
 [2021, 7, 7031028],
 [2021, 8, 6929867],
 [2021, 9, 6896870],
 [2021, 10, 7216548],
 [2021, 11, 7016626],
 [2021, 12, 7302902],
 [2022, 1, 7709754],
 [2022, 2, 7289103],
 [2022, 3, 7300390],
 [2022, 4, 7651338],
 [2022, 5, 7236050],
 [2022, 6, 7190137],
 [2022, 7, 7401560],
 [2022, 8, 7309881],
 [2022, 9, 7299707],
 [2022, 10, 7372732],
 [2022, 11, 7259359],
 [2022, 12, 7811424],
 [2023, 1, 7917695],
 [2023, 2, 7475267],
 [2023, 3, 9532591],
 [2023, 4, 7605010],
 [2023, 5, 7261546],
 [2023, 6, 7309771],
 [2023, 7, 7394702],
 [2023, 8, 7212871],
 [2023, 9, 7149448],
 [2023, 10, 7390261],
 [2023, 11, 7259617],
 [2023, 12, 7338003],
 [2024, 1, 7874288],
 [2024, 2, 7537543],
 [2024, 3, 7300080],
 [2024, 4, 7631134],
 [2024, 5, 7290462],
 [2024, 6, 7206103]]