In [3]:
import trino
from dotenv import load_dotenv
import os

In [30]:
# Cargamos variables de ambiente 
load_dotenv() 

# Setear credenciales
conn = trino.dbapi.connect(
        host=os.environ["host"], # cambiar por IP
        port=os.environ["port"], # cambiar puerto
        user=os.environ["user"], # cambiar usuario
        catalog=os.environ["catalog"], # cambiar catalogo
        schema = os.environ["schema"] # cambiar esquema
)

In [31]:
# Mostremos las tablas que están creadas 
query = "show tables"
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[['test'], ['test2']]

In [40]:
table_name = "test"
bucket = "capacitacion-lago-datos"
folder = "data-ejemplo"

# Esta query elimina la tabla, en caso de que ya exista
query_drop = f"drop table if exists minio.capacitacion.{table_name}"

# La query lee todo lo que hay en un directorio y lo convierte en una tabla de trino 
query = f"""
    CREATE TABLE minio.capacitacion.{table_name} (
        x int,
        y int
    )
    WITH (
        format = 'PARQUET', 
        external_location = 's3a://capacitacion-lago-datos/{folder}'
    )
    """

In [41]:

# Ejecutamos la query para borrar
cursor.execute(query_drop)

# ejecutamos la query para crear tabla 
cursor.execute(query)

In [43]:
# Contemos el número de filas de la tabla
query = "select count(*) from test"
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[[110]]

In [44]:
# Revisemos las primeras filas de la tabla
query = "select * from test limit 2"
cursor = conn.cursor()
cursor.execute(query)
data = cursor.fetchall()
data

[[0, 3], [0, 3]]